@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ddd;
}

.card {
  width: 220px;
  height: 320px;
}

@media (max-width: 940px) {
  .card {
    width: 180px; /* Ajusta el ancho a 180px */
    height: 280px; /* Ajusta el alto a 280px */
  }
}

@media (max-width: 766px) {
  .card {
    width: 220px; /* Ajusta el ancho a 220px */
    height: 320px; /* Ajusta el alto a 320px */
  }
}

@media (max-width: 640px) {
  .card {
    width: 300px; /* Ajusta el ancho a 300px */
    height: 420px; /* Ajusta el alto a 420px */
  }

}

.title {
  font-family: 'Montserrat', sans-serif; /* Cambia a Montserrat */
  font-weight: 700; /* Estilo bold */
  font-size: 3rem; /* Tamaño de la fuente */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  text-align: center; /* Centra el texto */
  margin: 20px 0; /* Espacio arriba y abajo */
  color: #E83411; /* Color naranja */
}