/* Estilos básicos */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

header {
    background-color: #dbdbdb;
    padding: 30px;
    text-align: center;
    color: #030a6d;
}

header h1 {
    margin: 0;
}

.header-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.search-filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5%;
}

#filter-button {
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #14097c;
    color: white;
    border: none;
    cursor: pointer;
}

#filter-button:hover {
    background-color: #15097c91;
}

.filters {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #0f2f4e7a;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.filters form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters label {
    margin-top: 10px;
}

.filters select, .filters input[type="date"] {
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
}

.filters button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.filters button:hover {
    background-color: #0056b3;
}

.main-menu {
    padding: 10px;
    text-align: center;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.main-menu ul li {
    margin: 0 15px;
}

.main-menu ul li a {
    text-decoration: none;
    color: #000000e1;
    font-size: 18px;
}

.main-menu ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    flex: 1;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
}

.image-box {
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 200px;
}

.image-box img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos para la vista previa de la imagen */
.image-preview {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.image-preview img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border: 5px solid #fff;
    border-radius: 8px;
}

footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: #f8f9fa;
}

/* Media Queries para mejor responsividad */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        align-items: flex-start;
    }

    input[type="text"] {
        width: 100%;
    }

    #filter-button {
        margin-left: 0;
        margin-top: 10px;
    }

    .image-box {
        width: 100%;
        height: auto;
    }
}
